<div class="signin">
  <h1>Steam-ish</h1>

  <% if (!user) { %>
    <a class="btn btn-primary" href="/auth/steam">Sign in with Steam</a>
  <% } else { %>
    <script>
      window.location.href = "/profile/me";
    </script>
  <% } %>
</div>
